.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.env
/.env.*
!/.env.example
packages/api/src/generated/
test/unit/coverage
test/e2e/reports
test-results
playwright-report-fullstack
selenium-debug.log


# test
test/test-report.json

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
alentapp.code-workspace
